#container {
    width: 100vw;
    height: 80px;
    background-color: green;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    box-sizing: border-box;
}

#container h1 {
    margin: 0;
    color: white;
}